<% provide(:title, t(".log_in")) %>

<%= form_for(:session, url: login_path,
  html: {class: "form-signin"}) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal"><%= t ".log_in" %></h1>

  <%= f.label :email, t(".email"), class: "sr-only" %>
  <%= f.email_field :email, class: "form-control",
    placeholder: t(".email"), autofocus:"" %>

  <%= f.label :password, t(".password"), class: "sr-only" %>
  <%= f.password_field :password, class: "form-control",
    placeholder: t(".password"), autofocus:"" %>

  <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span><%= t ".remember_me" %></span>
  <% end %>

  <%= f.submit t(".log_in"), class: "btn btn-lg btn-primary btn-block" %>

  <p class="mt-3"><%= t ".new_user_text" %><%= link_to t(".sign_up_now"), signup_path %></p>
  <p><%= link_to t(".forgot_password"), "#" %></p>
<% end %>
