<% provide(:title, t(".title")) %>

<%= form_for(@user, url: password_reset_path(params[:id]),
  html: {class: "form-signin"}) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal"><%= t(".title") %></h1>
  <%= render "shared/error_messages" %>

  <%= hidden_field_tag :email, @user.email %>

  <%= f.label :password, t("password"), class: "sr-only" %>
  <%= f.password_field :password, class: "form-control",
    placeholder: t("password"), autofocus:"" %>

  <%= f.label :password_confirmation, t("confirmation"), class: "sr-only" %>
  <%= f.password_field :password_confirmation, class: "form-control",
    placeholder: t("confirmation") %>

  <%= f.submit t("submit"), class: "btn btn-lg btn-primary btn-block" %>
<% end %>
