<%= form_for(@comment, remote: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.text_area :content, rows: 2, class: "form-control",
    placeholder: t(".write_comment") %>

  <div class="row">
    <div class="starrating risingstar d-flex justify-content-center
      flex-row-reverse">
      <%= f.radio_button :rating, 5 %>
      <%= f.label :rating, value: 5, title: "5 star" %>
      <%= f.radio_button :rating, 4 %>
      <%= f.label :rating, value: 4, title: "4 star" %>
      <%= f.radio_button :rating, 3 %>
      <%= f.label :rating, value: 3, title: "3 star" %>
      <%= f.radio_button :rating, 2 %>
      <%= f.label :rating, value: 2, title: "2 star" %>
      <%= f.radio_button :rating, 1 %>
      <%= f.label :rating, value: 1, title: "1 star" %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :product_id, value: @comment.product_id %>

  <%= f.submit "Comment", class: "btn btn-sm btn-primary" %>
<% end %>
