<%= form_for(@user, html: {class: "form-user"}) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal"><%= yield(:heading) %></h1>

  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :name, t(".name"), class: "sr-only" %>
  <%= f.text_field :name, class: "form-control", placeholder: t(".name"),
    autofocus: "" %>

  <%= f.label :email, t(".email"), class: "sr-only" %>
  <%= f.email_field :email, class: "form-control", placeholder: t(".email") %>

  <%= f.label :phone, t(".phone_number"), class: "sr-only" %>
  <%= f.phone_field :phone, class: "form-control",
    placeholder: t(".phone_number") %>

  <%= f.label :password, t(".password"), class: "sr-only" %>
  <%= f.password_field :password, class: "form-control",
    placeholder: t(".password") %>

  <%= f.label :password_confirmation, t(".confirmation"), class: "sr-only" %>
  <%= f.password_field :password_confirmation, class: "form-control",
    placeholder: t(".password") %>

  <%= f.submit yield(:button_text),
    class: "btn btn-lg btn-primary btn-block" %>
<% end %>
