<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md">
    <section class="user_info jumbotron text-left">
      <h1><%= @user.name %></h1>
      <b><%= t ".email" %></b><p><%= @user.email %></p>
      <b><%= t ".phone" %></b><p><%= @user.phone %></p>
    </section>
  </aside>
</div>
