<div class="card shopping-cart">
  <div class="card-header bg-dark text-light">
    <%= t ".your_cart" %>
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <% if @cart_products.blank? %>
      <p class="text-center">
        <%= t ".no_item" %>
      </p>
    <% else %>
      <%= render partial: "cart_product", collection: @cart_products %>
    <% end %>
  </div>
  <div class="card-footer text-right">
    <%= link_to t(".order"), orders_path, method: :post,
        class: "btn btn-danger float-left" %>
    <%= t(".total") %>
    <span class="total-price">
      <%= number_to_currency calculate_total_price %>
    </span>
  </div>
</div>
