<li class="list-group-item">
  <%= link_to category.name, category %>
  <%= link_to t(".add"), new_category_path(id: category.id),
    class: "btn btn-primary btn-sm ml-2" %>
  <%= link_to t(".edit"), edit_category_path(category),
    class: "btn btn-success btn-sm" %>
  <%= link_to t(".delete"), category, method: :delete,
    data: { confirm: t(".confirm") }, class: "btn btn-danger btn-sm" %>
</li>
<ul>
  <%= render load_children_category(category) %>
</ul>
