<% provide(:title, t(".title")) %>
<h1 class="text-center"><%= t ".heading" %></h1>

<%= will_paginate(@categories,
  renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<%= link_to t(".add"), new_category_path,
  class: "btn btn-outline-primary btn-sm ml-3"%>
<ul class="list-group list-group-flush">
  <%= render @categories %>
</ul>

<%= will_paginate(@categories,
  renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
