<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <%= link_to(image_tag(product.image, class: "card-img-top"),
      product) %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to product.name, product %>
      </h4>
      <h5><%= product.price %></h5>
      <p class="card-text">
        <%= truncate_info product.information %>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      <%= form_for order_product, remote: true do |f| %>
        <div class="row">
          <div class="col">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          </div>
          <div class="col">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit t(".add_to_cart"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
