<% provide(:title, t(".heading")) %>
<h1 class="text-center"><%= t ".heading" %></h1>

<div class="col-lg-9">
  <div>
    <%= link_to t("add"), new_product_path,
      class: "btn btn-success" if logged_in? && current_user.admin? %>
  </div>

  <div class="dropdown-divider"></div>

  <%= form_tag(:products, method: :get) do %>
    <div class="row">
      <div class="col-md-3">
        <%= select_tag :classify, options_for_select([[t("food"), true],
          [t("drink"), false]], selected: params[:classify]),
          include_blank: t("choose_classify"), class: "form-control" %>
      </div>

      <div class="col-md-4">
        <%= select_tag :category_id, options_for_select(collect_categories,
          selected: params[:category_id]), include_blank: t("choose_category"),
          class: "form-control" %>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col">
            <%= select_tag :price, options_for_select(["0..200", "200..400",
              "400..600", "600..10000"],
              params[:price]),
              min: Settings.filter.minimum_price, class: "form-control",
              placeholder: t(".min") %>
          </div>
        </div>
      </div>

      <div class="col">
        <%= submit_tag t("filter"), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

  <div class="dropdown-divider"></div>

  <% if @products.present? %>
    <div id="products_div" class="row">
      <%= render @products %>
    </div>

    <%= will_paginate(@products,
      renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <% end %>
</div>
