<% provide(:title, t(".heading")) %>
<h1 class="text-center"><%= t ".heading" %></h1>

<div class="col-lg-9">
  <div>
    <%= link_to t("add"), new_product_path,
      class: "btn btn-success" if user_signed_in? && current_user.admin? %>
  </div>

  <% if @products.present? %>
    <%= will_paginate(@products,
      renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

    <div class="row">
      <%= render @products %>
    </div>

    <%= will_paginate(@products,
      renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <% end %>
</div>
