<% provide(:title, @product.name) %>
<div class="col-lg-9">

  <div class="card mt-4">
    <%= image_tag(@product.image.url,
      class: "card-img-top img-fluid") if @product.image? %>
    <div class="card-body">
      <h3 class="card-title">
        <%= @product.name %>
      </h3>
      <span class="badge badge-primary p-2">
        <%= number_to_currency @product.price %>
      </span>
      <span class="badge badge-primary p-2">
        <%= t ".quantity" %>: <%= @product.quantity %>
      </span>
      <p class="card-text mt-3">
        <%= @product.information %>
      </p>
      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
    </div>
  </div>

</div>
