<% provide(:title, @product.name) %>
<div class="col-lg-9">

  <div class="card mt-4">
    <%= image_tag(@product.image.url,
      class: "card-img-top img-fluid") if @product.image? %>
    <div class="card-body">
      <h3 class="card-title">
        <%= @product.name %>
      </h3>
      <span class="badge badge-primary p-2">
        <%= number_to_currency @product.price %>
      </span>
      <span class="badge badge-primary p-2">
        <%= t ".quantity" %>: <%= @product.quantity %>
      </span>
      <p class="card-text mt-3">
        <%= @product.information %>
      </p>
      <% if @product.comments.present? %>
        <% @product.comments.average(:rating).ceil.times do %>
          <span class="text-warning">&#9733;</span>
        <% end %>
        <% blank_star(@product.comments.average(:rating).ceil).times do %>
          <span class="text-warning">&#9734;</span>
        <% end %>
        <%= t("products.show",
          count: @product.comments.average(:rating).ceil) %>
      <% end %>
    </div>
    <div class="card-footer form_comment">
      <%= render "comments/form", product_id: @product.id %>
    </div>
  </div>
  <div id="comments" class="card card-outline-secondary my-4">
    <% if @product.comments.blank? %>
      <div class="card-header">
        <%= t ".product_reviews" %>
      </div>
      <div class="card-body">
        <p><%= t ".no_comment" %></p>
      </div>
    <% else %>
      <%= render "comments/comment", comments: load_comments(@product) %>
    <% end %>
  </div>
</div>
