<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <%= link_to t("foods_and_drinks"),
      root_path, id: "logo", class: "navbar-brand" %>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to t(".home"), root_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <% if admin_user? %>
            <li class="nav-item">
              <%= link_to t(".categories"), categories_path,
                class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to t(".users"), users_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "#", class: "nav-link dropdown-toggle",
              "data-toggle" => "dropdown" do %>
              <%= t ".account" %><b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><%= link_to t(".profile"),
                current_user %></li>
              <li class="dropdown-item"><%= link_to t(".settings"),
                edit_user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item">
                <%= link_to t(".log_out"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t(".log_in"), login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
